.EditorHeader {
  height: 14px !important;
  min-height: 19px !important;
  font-size: 1em !important;
  padding: 0 !important;
  text-align: left;
  background-color: #282c34 !important;
}

.EditorHeaderText {
  color: #15cdfc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}
