.showModal{
    border-radius: 4px;
    background:linear-gradient(to right, #67b26b, #4ca2cb) !important;
    padding: 10px 22px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    
    margin-left: 24px;
  }
  .showModal:hover{
      border:1px solid #1888ff !important;

  }
  .loginbtn{
    background:linear-gradient(to right, #67b26b, #4ca2cb) !important;
    border: 1px solid linear-gradient(to right, #67b26b, #4ca2cb) !important;
  }
  .loginbtn:hover {
    border:1px solid #1888ff !important;
  }
  .modal{
    height:350px !important;
    width:300px !important;
    border:2px solid #15cdfc !important;
    background-color:#2c2e2e !important;
    
  }
  .content{
    border-radius:5px;
    border: none;
    background-color:#2c2e2e !important;
  }
  .modalHeader{
    text-align:center;
    color : #15cdfc !important;
    background-color:#2c2e2e !important;
  }
  .footer{
    text-align: right;
    padding-top:10px;
    font-size:12px;
    color: #15cdfc !important;
  }
  .redirectButton{
    font-size:12px;
    padding:0 !important;
    color: #15cdfc !important;
    background-color:#2c2e2e !important;
    text-decoration: underline !important;
  }
::placeholder{
  color: black !important;
}
.input:focus{
  border-color: #00ce81 !important;
}