  .navbar-logo {
    padding-bottom:20px;
  }
  
  .fa-desktop {
    margin-left: 0.5rem;
    padding-right:10px;
    font-size: 2rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  
  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }

  .item{
    color: #15cdfc !important;
  }
  .item:hover{
    background-color: #1888ff !important;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
.navMenu {
    background-color: #000 !important;
    align-items:center;
    height:60px;
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
 }
/*Language Dropdown Stuff*/
.selection{
  background-color:#282c34 !important;
  color:#15cdfc !important;
}
.menu {
  background-color:#282c34 !important;
}