.navbar-logo {
  padding-bottom: 0px;
  margin: 0px;
}

.fa-desktop {
  margin-left: 0.5rem;
  padding-right: 10px;
  font-size: 2rem;
}


.nav-links:hover {
  background-color: #1888ff;
  border-radius: 0;
}
.NavHeader{
    color: #15cdfc !important;
    user-select: none;
    padding: 10px 22px;
    padding-right:30px;
    background-color: #000 !important;
    border:none;
    cursor:pointer;
    border-radius: 4px;
}
.NavItem {
  color: #15cdfc !important;
  user-select: none;
  padding: 10px 22px;
  padding-right:30px;
  background-color: #000 !important;
  border:none;
  cursor:pointer;
  border-radius: 4px;
}
.NavItem:hover {
  background-color: #1888ff !important;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.item {
  color: #15cdfc !important;
  user-select: none;
  padding: 10px 22px;
  padding-right:30px;
  background-color: #000 !important;
  border:none;
  cursor:pointer;
  border-radius: 4px;
}
.item:hover {
  background-color: #1888ff !important;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.navMenu {
  background-color: #000 !important;
  align-items: center;
  height: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  /* justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);*/
  z-index: 10;
}
/*Language Dropdown Stuff*/
.selection {
  background-color: #282c34 !important;
  color: #15cdfc !important;
}
.menu {
  background-color: #282c34 !important;
}
.hamburgerMenu{
  color: #15cdfc !important;
  user-select: none;
  padding: 1em;
  padding-right:30px;
  background-color: #000 !important;
  border:none;
  margin-left:60%;
  cursor: pointer;
  border-radius:4px;
}
.hamburgerMenu:hover {
  background-color: #1888ff !important;
  transition: all 0.2s ease-out;
  border-radius:4px;
}
.dropdownItem{
  border-radius:2px !important;
}
.card{
  background:linear-gradient(to right, #2A2A2A 1%, black) !important;
  border-left: 2px solid black !important;
}
.label{
  background:none !important;
  color:#15cdfc !important;
  text-align:left;
}
.header{
  padding-top:30px;
}
.closeButton{
  font-size:40px;
  padding-left:125px;
  cursor:pointer;
}