<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="SpecialAppSettings.config">
  </appSettings>

  <!--
    Create a SpecialAppSettings.config file to store your api key
    
    <?xml version="1.0" encoding="utf-8"?>
      <appSettings>
        <add key="xRapidapiKey" value="yourKeyGoesHere"/>
      </appSettings>
  -->
</configuration>